HELP.md
target/
bot-vacancy-service/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### config ###
.env
bot-vacancy-service/docker/db-data/
ai-resume-service/docker/db-data/
bot-vacancy-service/src/main/resources/application-dev.yml
ai-resume-service/src/main/resources/application-dev.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
bot-vacancy-service/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# temp file
bot-vacancy-service/src/main/java/ru/bot/HelperBot/utils/temp.java
bot-vacancy-service/src/main/java/ru/bot/ai-resume/utils/temp.java


